.pcrdSetup {
    border: 0px;
    background-color: #F0E5EB;
}

.btnStyle {
    border: 0px;
    background-color: transparent;
    font-size: large;
}
.display{
    display: flex;
    position: relative;
    margin-left: 11rem;
}
.counterSet {
    padding-right: 5px;
}

.products {
    padding-top: 10%;
}

.bcolor {
    background-color: #F0E5EB;
}

.cwidth {
    width: 300rem;
}

.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 20%;
    top: 10%;
}

.image {
    width: 300px;
}

.ptext {
    font-weight: 500;
    font-size: 1.1rem;
}

.pheading {
    color: #692038;
    font-weight: 600;
    font-size: 1.2rem;
}

.pmheading {
    color: #692038;
    font-weight: 600;
    font-size: 2.0rem;
    padding-left: 1.5rem;
    padding-top: 2rem;
}


.ptext1 {
    font-weight: 500;
    font-size: 0.8rem;
}

.zoom:hover {
    transform: scale(1.2);
    /* (150% zoom)*/
}

.photo {
    height:40rem;
    width: 90rem;
}
.nbutn{
    background-color: white;
color: #861f41;
font-size: 20px;


padding: 10px 80px;
margin-right: 1rem;
border-radius: 8px;
border: 0.15rem solid #861f41;
margin: 0rem 0px;
cursor: pointer;
}