.crdSetup{
    border: 0px;
}
.btnStyle{
    border: 0px;
    background-color: transparent;
    font-size: large;
}
.counterSet{
    padding-right: 5px;
}
.products{
    padding-top: 10%;
}
.bcolor{
    background-color: #cf99bc;
}
.cwidth{
    width: 300rem;
}
.dialog {
    box-shadow: 0 8px 6px -6px black;
    position: static;
    left: 20%;
    top: 10%;
  }
  
  .image {
    width: 300px;
  }
  