.cardBody{
    position: relative;
    background-color: #F0E5EB;
    
}
.eheading{
    color: #692038;
    font-weight: 600;
    font-size: 1.5rem;
    
    padding-top: 0.1rem;
    
}
.cardSetup{
    /* height: 300px !important; */
    margin-top: 6%;
    border: 0px !important;
}
.headerCrd{
    /* background-color: #F0E5EB; */
    border: 0px;
}
.display{
    display: flex;
    position: relative;
    margin-left: 11rem;
}
.itemName{
    padding-left: 2rem;
    padding-bottom: 2rem;
    
}
.itemName1{
    background-color: #F0E5EB;
    margin-bottom: 0.2rem;
    padding: 0.4rem;
}
.ptext1{
padding-left: 5%;
color: #692038;
}
.subtn{
    background-color: #692038;
    color: white;
    font-size: 20px;
    /* flex-wrap: wrap; */
    padding: 10px 104px;
    border-radius: 5px;
    margin: 2.4rem ;
    margin-left: 32%;
    margin-right: 20%;
    width: 25rem;
    cursor: pointer;
    }

    .input{
        padding:0.6rem;
        width: 45.2rem;
        font-size: 1rem;
        margin-top: 0.2rem;
        height: 2.5rem;
        border-radius: 1%;
        border-width: 0.001ch;
        border-color: #692038;
    }
    
    .label{
        color: #692038;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        padding-left: 20%;
    }
    .txtinput1{
        padding-right: 20%;
        width: 45.2rem;
        border-radius: 1%;
        border-width: 0.001ch;
        border-color: #692038;
    }