.cardBody {
    position: relative;
    background-color: #F0E5EB;

}

.eheading {
    color: #692038;
    font-weight: 600;
    font-size: 1.5rem;

   

}

.cardSetup {
    /* height: 300px !important; */
    margin-top: 8%;
    border: 0px !important;
}

.headerCrd {
    /* background-color: #F0E5EB; */
    border: 0px;
}

.display {
    display: flex;
    position: relative;
    margin-left: 11rem;
}

.itemName {
    padding-left: 2rem;
    padding-bottom: 2rem;

}

.itemName1 {
    background-color: #F0E5EB;
    margin-bottom: 0.2rem;
    padding: 0.4rem;
}

.ptext1 {
    padding-left: 5%;
    color: #692038;
}

.nbutn {
    background-color: white;
    color: #861f41;
    font-size: 20px;


    padding: 10px 80px;
    border-radius: 8px;
    border: 0.15rem solid #861f41;
    margin: 0rem 0px;
    cursor: pointer;
}
.dropdown-menu { position:relative !important }
    

.btnbg{
    background-color: #692038 !important;
    border-color: #692038 !important;
    /* margin-left: 90% !important; */
  float: right !important;
 
}
.displaymodel{
    display: flex;
    position: relative;
    width: 40%;
    margin-left: 32%;
    margin-top: 5%;

}
.subtn{
    background-color: #692038;
    color: white;
    font-size: 16px;
    border-color: #692038;
    padding: 1% 2%;
    border-radius: 5px;
    margin: 3% ;
    
    width: 15%;
    cursor: pointer;
    }
    .subtn1{
        background-color: #692038;
        color: white;
        font-size: 16px;
        border-color: #692038;
        padding: 1% 2%;
        border-radius: 5px;
        margin: 3% ;
        
        width: 25%;
        cursor: pointer;
        }
        .ptext1{
            padding-left: 5%;
            color: #692038;
            }
            .eheading input{
                padding: 10px;
                margin-right: 10px;
                margin-left: 28%;
                width: 300px;
                height: 50px;
                font-size: 20px;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #BFBFBF;
            
            }
            .eheading p{
                margin-left: 38%;
            }