.cardBody{
    position: relative;
    background-color: #F0E5EB;
    
}
.img12{
    margin-top: 0%;
    margin-left:5%;
    margin-bottom: 2%;
    height:15%;
    width:15%;
}
.eheading{
    color: #692038;
    font-weight: 600;
    font-size: 1.5rem;
    
    padding-top: 0.1rem;
    
}
.cardSetup{
    /* height: 300px !important; */
    margin-top: 6%;
    border: 0px !important;
}
.headerCrd{
    /* background-color: #F0E5EB; */
    border: 0px;
}
.display{
    display: flex;
    position: relative;
    margin-left: 11rem;
}
.itemName{
    padding-left: 2rem;
    padding-bottom: 2rem;
    
}
.itemName1{
    background-color: #F0E5EB;
    margin-bottom: 0.2rem;
    padding: 0.4rem;
}
.ptext1{
padding-left: 5%;
color: #692038;
}