.ncrdSetup {
    border: 0px;
    background-color: #F0E5EB;
}
.display{
    display: flex;
    position: relative;
    margin-left: 11%;
}
.btnStyle{
    border: 0px;
    background-color: transparent;
    font-size: large;
}

.del{
    float: right;
    margin-right: 3%;
}
.bcolor{
    background-color: #F0E5EB;
    margin-bottom: 0.2rem;
}
.cwidth{
    width: 300rem;
}
.news{
    color: #692038;
    font-weight: 600;
    font-size: 2.0rem;
    padding-left: 1.5rem;
   margin-top: 7%;
    
}
.nheading{
    color: #692038;
    font-weight: 600;
    font-size: 1.2rem;
}
.comment{
    margin-left: 1rem;
    margin-top: 2rem;
    scale: 2.0;
    color: #692038;
}
.itemDes{
    margin-left: 1.6rem;
    font-weight: 500;
}
.itemcmt{
    margin-left: 4.7rem;
}
.link{
    color: white;
}
.nbutn{
    background-color: white;
color: #861f41;
font-size: 20px;


padding: 10px 80px;
border-radius: 8px;
border: 0.15rem solid #861f41;
margin: 0rem 0px;
cursor: pointer;
}
.subtn{
    background-color: #692038;
    color: white;
    font-size: 16px;
    border-color: #692038;
   
    border-radius: 15px;
   
    
    width: 100%;
    cursor: pointer;
    }